# -*-	mode: conf; -*-
custom.el
elpa
./elpa
auto-save-list
eshell
tramp
abbrev_defs
url
places
ido.last
jabber-otr
quelpa
request
recentf
# backups
*~
\#*\#
# compiled files
*.elc
projectile-bookmarks.eld
*.html
/network-security.data
/projectile.cache
/.mc-lists.el
/bookmarks
/dmenu-items
/english.txt
/javadoc-cache
/magithub/cache
/speed-type
/transient/history.el
/.lsp-session-v1
/.cache/
/.dap-breakpoints
/.log/
/.DS_Store
/snippets/.DS_Store
/eln-cache/
/eclipse.jdt.ls/
/workspace/
/linux/.mucommander/logs/
